<% if (!currentUser) { %>
  <p><a href="/login">Log in</a> to post an answer.</p>
<% } else { %>
  <form action="/questions/<%= question._id %>/answers" method="POST" enctype="multipart/form-data" class="mb-3">
    <div class="form-group">
      <label>Your Answer</label>
      <textarea name="text" rows="4" class="form-control" required></textarea>
    </div>
    <div class="form-group">
      <label>Images</label>
      <input type="file" name="images" multiple />
    </div>
    <div class="form-group">
      <label>Files</label>
      <input type="file" name="files" multiple />
    </div>
    <button class="btn btn-success">Post Answer</button>
  </form>
<% } %>
